@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    gap: 5px;
    
}

.caixa{
    padding: 10px;
    text-align: center;
}

#topo {
    background-color: pink;
    grid-area: 1 / 1 / 2 / -1;
}

#menu {
    background-color: palevioletred;
    grid-area: 2 / 1 / 3 / -1;
}

#principal {
    background-color: pink;
    grid-area: 3 / 1 / -2 / 2;
}

#secundario {
    background-color: pink;
    grid-area: 3 / 2 / -2 / -1;
}

#rodape {
    background-color: palevioletred;
    grid-area: 4 / 1 / -1 / -1;

}